*{

font-family: "Libre Bodoni", sans-serif;
font-weight: 200;

  }

* {
				margin:20px;
				padding:100%;
			}
			
.nav{
	background-color: #0510F3;
}	
.nav__li {
	display: inline-block;
	padding: 10px;
	color: white;
	image-rendering: optimizeQuality;
}

.nav__li:hover > a {
	color: #0510F3;
		  }

.nav__li:hover {
	color:#0510F3 ;
		  }

.nav__li a {
	color: white;
	text-decoration: none;
}
.nav__li i {
	width: 40px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
}

body {
	background-color: #E1E1E7;
	margin: auto;
}


		ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#0510F3;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color: #F9862C;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

.cont{
	display: inline-block;
	overflow: auto;
	float: center;
	margin: 10px;
	width: 300px;
	height: 600px;
	position: relative;
	border: 2px solid skyblue;
	object-fit: cover;
	color: #4F3387;
}

.cont img {
	margin: 5px;
	float: center;
	height: 220px;
	width: 220px;
	border: 2px solid skyblue;
	object-fit: cover;
	color: #4F3387;
}

div{
	margin: 50px;
}
	h1{
		color: red;
		margin:auto;
	}
	h2{
		color: #4F3387;
		margin: 40px;
	}

	div p{
	color: #4F3387;
	display: inline;
	margin-left: 20px;	
	}


}
div b{
	color: red;
	margin: auto;
	}

footer{
	background-color: #EAFAF1;
	color: darkviolet;
	padding: 20px;
	width: 98%;
	border-radius: 5px;
	margin: 20px;

}
footer p {
	color: darkviolet;
}


@media only screen and 
(max-width: 800px)
{
	div{
		display: block;
		width: 100%;
	}
	